<!DOCTYPE html>
<html lang="zh">
<head>    
<meta charset="UTF-8">    
<title>注册页面</title>    
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>    
<header>        
<h1>注册</h1>    
</header>    
<form method="POST">
        {{ form.hidden_tag() }}
        <label>{{ form.username.label }}</label>
        {{ form.username() }}
        {% for error in form.username.errors %}<span class="error">{{ error }}</span>{% endfor %}
        <br>
        <label>{{ form.password.label }}</label>
        {{ form.password() }}
        {% for error in form.password.errors %}<span class="error">{{ error }}</span>{% endfor %}
        <br>        
<button type="submit">注册</button>    
</form>
</body>
</html>
